$breakpoint-mobile: 768px
$breakpoint-tablet: 1200px
$breakpoint-laptop: 1440px

// TRANSITIONS
$nav-animation: .33s ease-in-out
$animation-duration: 1s

// TYPE GOLDEN RATIO 
$type-size-h1: 7rem
$type-size-h2: 7rem
$type-size-h3: 3.5rem
$type-size-h4: 3.5rem
$type-size-p: 1.75rem
$type-size-data: 1rem

$lineheight-p: 1.5em
$lineheight-h: 1em
$lineheight-data: 1.5em

$letterspacing-h: -0.04em

// INDEXES
$video-controls: 501
$slider-controls: 500
$slider: 499
$titles: 700
$about: 999
$modal: 900
$slug: 550

// COLORS
$bg-about: #000000
$bg-project: hsl(0, 0%, 10%)
$bg-iframe: hsl(0, 0%, 12%)

// TRANSITIONS
$trans-hover: .33s ease
$trans-img: .165s ease-in

// SPACING
body
  --spacing-vertical: 10vmax
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
