$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

// TRANSITIONS
$nav-animation: .33s ease-in-out
$animation-duration: 1s

// TYPE GOLDEN RATIO 
$color: black
$type-size-h1: 7rem
$type-size-h2: 7rem
$type-size-h3: 3.5rem
$type-size-h4: 3.5rem
$type-size-p: 1.75rem
$type-size-data: 1rem

$lineheight-p: 1.5em
$lineheight-h: 1em
$lineheight-data: 1.5em

$letterspacing-h: -0.04em

// INDEXES
$video-controls: 600
$slider-controls: 500
$slider: 400
$titles: 900

// COLORS
$color-support: blue
$border: 1px solid blue

// TRANSITIONS
$trans-hover: .33s ease
$trans-img: .33s ease-in

// SPACING
body
  --spacing-vertical: 10rem
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
